body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
.body{
    display: flex;
    background-color: red;
    flex-direction: column;
}
.container-profile{
    background-color: yellow;
    margin-left: 100px;

}
.header{
    width: 100%;
    height: 100px;
    background-color: black;
    padding: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}
.name{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "inter", sans-serif ;
    display: flex;
    cursor: pointer;
}
.project{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 1225px;
    font-family: "inter", sans-serif ;
    display: flex;
    cursor: pointer;
}
.blog{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    font-family: "inter", sans-serif ;
    display: flex;
    cursor: pointer;
}
.ig{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    font-family: "inter", sans-serif ;
    display: flex;
    cursor: pointer;
}
.contact{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    font-family: "inter", sans-serif ;
    display: flex;
    cursor: pointer;
}
.foto {
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 3px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}
.judul{
    display: flex;
    font-family: "inter", sans-serif;
    color: #0095FF;
    margin-left:200px;
    margin-bottom: 5px;
    text-align: left;
}
.subjudul{
    display: flex;
    color: aliceblue;
    font-family: kanit, sans-serif;
    margin-left: 200px;
    text-align: left;
    font-weight: bold;
    font-size:50px;
    margin-top: 0px;
    margin-bottom: 25px;
}
.text{
    color: #7C7878;
    font-family: "inter", sans-serif;
    margin-left: 200px;
    text-align: justify;
    display: flex;
    font-size: 18px;
    margin-top: 1px;
}
.email{
    display: flex;
    align-self: left;
    margin-left: 200px;
    background-color:#0095FF ;
    width: 154px;
    height: 57px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 50px;
    cursor: pointer;
}
.cv{
    display: flex;
    border: none;
    background-color: transparent;
    color: #7C7878;
    margin-left: 200px;
    margin-top: 10px;
    width: 154px;
    justify-content: center;
    cursor: pointer;
}

.cat{
    width: 359px;
    height: 466px;
    display: flex;
    margin-left: 1200px;
    margin-top: 0px;
    align-items: center ;
    justify-content: center;
    align-self: auto;
    flex: 1 ;
}
.sp{
    color: aliceblue;
    font-family: "kanit", sans-serif;
    display: flex;
    margin-left: 200px;
}
.soda{
    display: flex;
    color: aliceblue;
    font-family: "kanir",  sans-serif;
    margin-left: 200px;
}
.cherry{
    display: flex;
    margin-left:200px;
    width: 1018px;
    height: 724px;
}